.site-brand {

	background-color: #192947;
	padding: 5px 15px;
}

.site-brand::after {
	clear: both;
}

#ui-library {
	float: left;
	margin-right: 15px;
}

#iopn {
	float: left;
}

.column {
	float: left;
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
.footer-library {
	background-color: #022544;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	padding: 15px; }

.footer-library_right a {
	text-decoration: none; }

footer.footer-library {
	background-color: #022544; }

.footer-library_left,
.footer-library_right {
	text-align: center;
	margin-bottom: 30px; }

.footer-library_right a,
.footer-library_right a:visited,
.footer-library_right a:hover {
	color: #ffffff; }

.footer-library_right li {
	margin-bottom: 5px;
	list-style: none; }

.footer-library_right ul {
	padding: 0px;
	margin-top: 0px; }
.footer-library li{
	margin-top:-5px;}
.footer-library p{
	font-weight: bold}

.a11y-toolbar {
	background-color: #192947;
}
.iopn_header_common {
	background-color: #192947;
	padding-left: 15px;
	padding-top: 5px;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2))
}


.iopn_header_scalar {
	padding-bottom: 10px;
}

/*IOPN mark image*/
#iopn_mark {
	margin-left: 20px;
}

/*so that Scalar collapses the native header/nav and the iopn header on scroll*/
@media (min-width: 768px){
	#scalarheader.short{
		transform : translatey(-8rem);
		-webkit-transform : translatey(-8rem);
		-moz-transform : translatey(-8rem);
	}
}

/*placeholders for anything needed behond common*/
.iopn_header_omekas_s {
}

.ionp_header_omp {

}


.iopn_header_ojs {

}

.iopn_header_pb {
	background-color: #192947;
	float: left;
	padding: 5px;
	padding-left: 15px;
	text-decoration: none;

}

.block-info__source {
	display: none;
}.site-brand {
	 background-color: #192947;
	 padding: 5px 15px;
 }

.site-brand::after {
	clear: both;
}

#ui-library {
	float: left;
	margin-right: 15px;
}

#iopn {
	float: left;
}

.column {
	float: left;
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
.footer-library {
	background-color: #022544;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	padding: 15px; }

.footer-library_right a {
	text-decoration: none; }

footer.footer-library {
	background-color: #022544; }

.footer-library_left,
.footer-library_right {
	text-align: center;
	margin-bottom: 30px; }

.footer-library_right a,
.footer-library_right a:visited,
.footer-library_right a:hover {
	color: #ffffff; }

.footer-library_right li {
	margin-bottom: 5px;
	list-style: none; }

.footer-library_right ul {
	padding: 0px;
	margin-top: 0px; }
.footer-library li{
	margin-top:-5px;}
.footer-library p{
	font-weight: bold}

.a11y-toolbar {
	background-color: #192947;
}
.iopn_header_common {
	background-color: #192947;
	padding-left: 15px;
	padding-top: 5px;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2))
}


.iopn_header_scalar {
	padding-bottom: 10px;
}

/*IOPN mark image*/
#iopn_mark {
	margin-left: 20px;
}

/*so that Scalar collapses the native header/nav and the iopn header on scroll*/
@media (min-width: 768px){
	#scalarheader.short{
		transform : translatey(-8rem);
		-webkit-transform : translatey(-8rem);
		-moz-transform : translatey(-8rem);
	}
}

/*placeholders for anything needed behond common*/
.iopn_header_omekas_s {
}

.ionp_header_omp {

}


.iopn_header_ojs {

}

.iopn_header_pb {
	background-color: #192947;
	float: left;
	padding: 5px;
	padding-left: 15px;
	text-decoration: none;

}

.block-info__source {
	display: none;
}
